{% extends "base.jade" %}

{% load i18n static %}

{% block javascripts %}
  <script src="{{STATIC_URL}}js/login.js"></script>
{% endblock %}

{% block content %}

<form action="{% url 'facebook_connect' %}?facebook_login=1" method="post">
  <input type="hidden" value="{{ request.path }}" name="next" />
  <input type="hidden" value="{{ request.path }}" name="register_next" />
  <input type="hidden" value="{{ request.path }}" name="error_next" />
  {% csrf_token %}
  <input onclick="F.connect(this.parentNode); return false;" id="fb_connect" type="image" src="{{ STATIC_URL }}images/facebook_login.png" height="35"/>
</form>
{% endblock %}
