aside
  background #fefefe
  border-left 1px solid rgba(0,0,0,.4)
  display block
  height calc(100% - 50px)
  opacity 0
  padding 20px 10px 10px
  position fixed
  right -320px
  transform none
  top 50px
  width 320px
  -webkit-transform none
  transition all 0.5s
  -webkit-transition all 0.5s

  &.active
    opacity 1
    right 0px

  .crossbutton
    float right
    margin-top -15px
